
  <footer class="footer show-on-scroll">
    <h4 class="title-footer">__Let's make your ideas a reality.</h4>
    <a class="mail-footer" href="">clara.miralles.imperial@gmail.com</a>
    <div class="container-footer">
      <a class="social-link" target="_blank" href="https://www.instagram.com/_claraflowers/">Instagram</a>
      <a class="social-link" target="_blank" href="https://www.linkedin.com/in/claramirallesi/">Linkedin</a>
      <a class="social-link" target="_blank" href="https://github.com/claramiralles">Github</a>

    </div>
    <small class="footer-credits-text">Coded by Clara Miralles de Imperial 2020.</small>
  
  </footer>
