
<head>
    <title> Clara Miralles</title>
    <link rel='shortcut icon' type='img/favicon.png' href='/img/logo-icon.png' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" class="">
    <meta name="keywords" content="HTML, CSS, JavaScript, mongoDB, node, express, instagram, social media, freelance, porfolio,
    ES6, JavaScript, ES6, MongoDB, Express, Angular, Node.js, HTML, react, facebook, photography, content creator, frontend developer,
    projects">
    <link rel="stylesheet" href="assets/css/projects.css">
    <link rel="stylesheet" href="assets/css/contact.css">
    <link rel="stylesheet" href="assets/css/about-me.css">
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap"
      rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
  </head>
