<main class="page-body">
    <section class="cover show-on-scroll">
        <div class="cover-container-text">
            <h1 class="cover-title show-on-scroll"> Welcome!</h1>
            <p class="cover-paragraph show-on-scroll">I'm Clara Miralles de Imperial, front-end developer based in Amsterdam.</p>
                <div class="cover-social">
                    <a target="_blank" href="https://www.instagram.com/_claraflowers/">
                        <img class="social-icon show-on-scroll" src="assets/images/instagram-icon.png" alt="instagram-icon">
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/claramirallesi/">
                        <img class="social-icon show-on-scroll" src="assets/images/linkedin-icon.png" alt="linkedin-icon">
                    </a>
                    <a target="_blank" href="https://github.com/claramiralles">
                        <img class="social-icon show-on-scroll" src="assets/images/github-icon.png" alt="github-icon">
                    </a>
                </div>
        </div>
    </section>
</main>
