<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>
<body>
  <partial src="_header.html" ></partial>
  <div class="wrapper">
    <main class="page-body">
        <section class="about-me-container show-on-scroll">

            <div class="text-container show-on-scroll">
                <h1 class="title-profile">About me.</h1>
                <p class="text-profile">Creativity and learning new concepts are two of my greatest passions.<br/><br/>

                After being specialised in Product Marketing, at the beginning of 2019 I made a step forward towards a career in front-end development, thanks to winning a scholarship at ADALAB.<br/><br/>

                ADALAB is a 4-months-highly intense bootcamp targeted to include women into the tech market.<br/><br/>

                Here I was trained to be a fast learner and quickly adapt to work in different teams.  Nowadays, what I enjoy the most as a developer is being able to convert people ideas into a reality.</p>

                  <div class="links-profile-container">
                    <a class="link-profile" href="mailto:clara.miralles.imperial@gmail.com">Contact me</a>
                    <a class="link-profile" href="../projects.html">View my projects</a>
                    <div class="cover-social">
                        <a href="https://www.instagram.com/_claraflowers/"><img class="social-icon show-on-scroll"
                                src="assets/images/instagram-icon.png" alt="instagram-icon"></a>
                        <a href="https://www.linkedin.com/in/claramirallesi/"><img class="social-icon show-on-scroll"
                                src="assets/images/linkedin-icon.png" alt="linkedin-icon"></a>
                        <a href="https://github.com/claramiralles"><img class="social-icon show-on-scroll"
                                src="assets/images/github-icon.png" alt="github-icon"></a>
                    </div>
                </div>
            </div>

            <div class="image-profile-container show-on-scroll">
                <img class="image-profile" src="assets/images/imgs_aboutme/img_clara_miralles_modified.png" alt="foto-perfil">
            </div>
        </section>
    </main>
</div>
  <partial src="_footer.html" ></partial>

  <script src="assets/js/main.js"></script>
</body>
</html>
