<!DOCTYPE html>
<html>

    <partial src="_head.html" ></partial>

    <body>

        <partial src="_header.html" ></partial>

        <div class="wrapper">

            <main class="page-body">

              <section class="about-me-container show-on-scroll">

                <h1 class="title-profile">About me.</h1>

                  <div class="text-container show-on-scroll">

                        <p class="text-profile-first-paragraphs">Creativity and learning new concepts are two of my greatest passions. I was specialised in Product Marketing, a position where I was constantly working with developers.</br></br>

                        Step by step I started to feel I really wanted to know more about how to actually make the product, how to code it. That is why in 2019 I made a step forward towards a career in front-end development, with a 4-months-highly intense bootcamp that trained me to be a fast learner and quickly adapt to work in different teams, ADALAB.</br></br></p>

                        <p class="text-profile-last-paragraphs">
                        ADALAB is a 4-months-bootcamp targeted to include women in the tech market. Here not only have I learned HTML, CSS, Javascript, React or control of versions with Git, but team cooperation, scrum and agile techniques and how to trust on myself as a programmer.</br></br>

                        Since July 2019 I am a member of the Epiphany RBC team, a research-based consultancy company. At my role as Frontend Developer, I code in HTML, CSS, JavaScript, and Python, with the purpose of delivering mobile-friendly and innovative customer surveys for top-notch international companies.
                        </p>

                  </div>

                  <div class="image-profile-container show-on-scroll">

                    <img class="image-profile"
                      src="assets/images/imgs_aboutme/img_clara_miralles_modified.png" alt="foto-perfil">

                  </div>

                  <div class="links-profile-container">

                    <a class="link-profile" href="mailto:clara.miralles.imperial@gmail.com">Contact me</a>

                    <a class="link-profile" href="../projects.html">View my projects</a>

                  </div>

                  <div class="cover-social">

                        <a href="https://www.instagram.com/_claraflowers/">
                          <img class="social-icon show-on-scroll"
                               src="assets/images/instagram-icon.png"
                               alt="instagram-icon">
                        </a>
                        <a href="https://www.linkedin.com/in/claramirallesi/">
                          <img class="social-icon show-on-scroll"
                               src="assets/images/linkedin-icon.png"
                               alt="linkedin-icon">
                        </a>
                        <a href="https://github.com/claramiralles">
                          <img class="social-icon show-on-scroll"
                                src="assets/images/github-icon.png"
                                alt="github-icon">
                        </a>

                  </div>

            </section>

        </main>

    </div>

    <partial src="_footer.html" ></partial>

    <script src="assets/js/main.js"></script>

</body>
</html>
