<!DOCTYPE html>
<html>

  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>

  <div class="wrapper">
    <main class="page-body">
        <div class="contact-me-container show-on-scroll">
            <h1 class="contact-me-title show-on-scroll">Contact me!</h1>
            <a class="contact-me-subtitle show-on-scroll" href="mailto:clara.miralles.imperial@gmail.com">📩<span class="contact-me-subtitle italic">clara.miralles.imperial@gmail.com</span></a>
        </div>
    </main>
</div>

<partial src="_footer.html" ></partial>

  <script src="assets/js/main.js"></script>
</body>

</html>





