<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>

  <div class="wrapper">
    <main class="page-body">

        <section class="project-container show-on-scroll">
            <h1 class="project-title show-on-scroll">Search Engine</h1>
            <p class="project-subtitle show-on-scroll">
                Front-End development
            </p>

            <partial src="_back.html" ></partial>
        </section>

        <img class="cover-image show-on-scroll" src="assets/images/imgs_harrypotter/img_harrypottter_banner_good.png" alt="cover-sand">

        <section class="project-page-section show-on-scroll">
            <div class="text-container-section">
                <p class="text-section-rigth">Technical summary:</br></br> SPA built in React components, with base in JavaScript. Web routing with React Dom. Web layout with HTML5 & CSS3. Built individually within 3 days as my final evaluation of React at ADALAB.</p>
                <p class="text-section-rigth">Usage:</br></br> Search engine showing a list of Harry Potter characters in cards, based on an array of data. For this purpose we use ES6, Props and PropTypes. We also include varied filters to narrow down the information as the user desires and a detail page done with React Router.
                <p class="text-section-rigth">Features:</br>
                    </br>- Fetching information from API.
                    </br>- Rendering information efficiently in components, following DRY coding principles.
                    </br>- Word search among all information.
                    </br>- Filtering by various criteria.</br></br></p>
            </div>

            <img class="project-img-cover show-on-scroll" src="assets/images/imgs_harrypotter/img_harry_potter_mobile_good.png" alt="sand-cover">
        </section>

        <section class="proyect__links__container">
            <a class="proyect-link" target="_blank" href="https://github.com/Adalab/harry-potter-characters-search-engine-react">Live link</a>
            <a class="proyect-link" target="_blank" href="https://beta.adalab.es/harry-potter-characters-search-engine-react/">Code in Github</a>
        </section>

        <section class="technologies-container show-on-scroll">

            <partial src="_technologies.html" ></partial>

            <div class="logos-technologies-container show-on-scroll">
                <div>
                    <img class="technologies-icon" src="assets/images/react.png" alt="react">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/javascript.png" alt="JavasScript">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/html5.png" alt="html5">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/css.png" alt="CSS3">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/npm.png" alt="NPM">
                </div>
            </div>
        </section>
    </main>
</div>

<partial src="_footer.html" ></partial>
</body>
<script src="assets/js/main.js"></script>

</html>
