<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>

  <div class="wrapper">
    <main class="page-body">

        <section class="project-container show-on-scroll">
            <h1 class="project-title show-on-scroll">Your Calls 2.0 - WebApp</h1>
            <p class="project-subtitle show-on-scroll">
                Front-End development
            </p>
            <partial src="_back.html" ></partial>
        </section>

        <img class="cover-image show-on-scroll" src="assets/images/imgs_yourcalls2.0/img_yourcalls2.0_banner_1_good_en.png" alt="cover-sand">

        <section class="project-page-section show-on-scroll">
            <div class="text-container-section">
                <p class="text-section-rigth">
                    Technical summary:</br>Single Page Application built in React to record information about client calls.  Data visualisation for analysis purposes.Shown in graphics done by integrating React Google Charts.Web layout with HTML5 & CSS3. </br></br></p>
                <p class="text-section-rigth"> Usage:</br>Yours Calls is a web app to register the phone calls that receive the employees from Interacso, the company we are working for. It includes a call history, call statistics and slack notifications.</br></br></p>
                <p class="text-section-rigth">Features:
                    </br>- Form fields to record information about the call
                    </br>- Statistics screen to filter data by date.
                    </br>- Clients mood and calls graphics filter by time range.
                </br></br></p>
            </div>

            <img class="project-img-cover show-on-scroll" src="assets/images/imgs_yourcalls2.0/img_yourcalls2.0_mobile.png" alt="sand-cover">
        </section>

        <section class="proyect__links__container">
            <a class="proyect-link" target="_blank" href="https://github.com/claramiralles/your-calls-2.0-react-and-react-google-charts">Live link</a>
            <a class="proyect-link" target="_blank" href="https://beta.adalab.es/fairfax-m4-your-calls-app">Code in Github</a>
        </section>

        <section class="technologies-container show-on-scroll">

            <partial src="_technologies.html" ></partial>

            <div class="logos-technologies-container show-on-scroll">
                <div>
                    <img class="technologies-icon" src="assets/images/react.png" alt="react">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/javascript.png" alt="JavasScript">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/html5.png" alt="html5">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/css.png" alt="CSS3">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/npm.png" alt="NPM">
                </div>
            </div>
        </section>
    </main>
</div>

<partial src="_footer.html" ></partial>
</body>
<script src="assets/js/main.js"></script>

</html>
