<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>
<body>
  <partial src="_header.html" ></partial>
  <div class="wrapper">
    <main class="page-body">
        <partial src="_categories.html" ></partial>
        <div class="projects-container">
            <a class="project-cover show-on-scroll" href="./project_yourcalls2.0.html">
                <p class="tag-projects">Calls Register</p>
                <img class="project-image" src="assets/images/imgs_yourcalls2.0/img_yourcalls2.0_1_good_margin.png" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/imgs_yourcalls2.0/img_yourcalls2.0_3_good_margin.png" alt="">
                </div>
            </a>
            <a class="project-cover show-on-scroll" href="./project_harrypotter.html">
                <p class="tag-projects">Search Engine</p>
                <img class="project-image" src="assets/images/imgs_harrypotter/img_harrypotter_6_good.png" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/imgs_harrypotter/img_harrypotter_7_good.png"alt="">
                </div>
            </a>
        </div>
    </main>

</div>

<partial src="_footer.html" ></partial>

  <script src="assets/js/main.js"></script>
</body>
</html>
