<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>
<body>
  <partial src="_header.html" ></partial>
  <div class="wrapper">
    <main class="page-body">
        <partial src="_categories.html" ></partial>
        <div class="projects-container">
            <a class="project-cover show-on-scroll" href="./project_rockandcode.html">
                <p class="tag-projects">Team Website</p>
                <img class="project-image" src="assets/images/imgs_rockandcode/img_rockandcode_2_good.png" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/imgs_rockandcode/img_rockandcode_3_good.png"alt="">
                </div>
            </a>
        </div>
    </main>

</div>

<partial src="_footer.html" ></partial>

  <script src="assets/js/main.js"></script>
</body>
</html>
