<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>
    
    <div class="wrapper">
      <main class="page-body">
        <partial src="_categories.html" ></partial>
        <div class="projects-container">

            <a class="project-cover show-on-scroll" href="/projects/epsilon-knowledge">
                <p class="tag-projects">Epsilon - Annual Trends Report</p>
                <img class="project-image" src="assets/images/project-epsilon.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-epsilon2.jpg" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/zatro-magazine">
                <p class="tag-projects black-tag">Zatro - Web Magazine</p>
                <img class="project-image" src="assets/images/project-zatro2.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-zatro.jpg" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects//volkswagen">
                <p class="tag-projects black-tag">Volkswagen - Product Design </p>
                <img class="project-image" src="assets/images/project-volkwagen.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-volkwagen2.jpg" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/meller-brandbook">
                <p class="tag-projects">Meller - Brandbook design </p>
                <img class="project-image" src="assets/images/project-meller.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-meller2.jpg" alt="">
                </div>
            </a>

            <a class="project-cover show-on-scroll" href="/projects/meller-newsletters">
                <p class="tag-projects">Meller - Newsletter design </p>
                <img class="project-image" src="assets/images/project-newsletter-meller.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-newsletter-meller2.jpg" alt="">
                </div>
            </a>


            <a class="project-cover show-on-scroll" href="/projects/multify-presentation">
                <p class="tag-projects">Grupo Comdifil - MultifyBrand presentation</p>
                <img class="project-image" src="assets/images/project-multify.jpg" alt="">
                <div class="project-text-container">
                    <img class="second-image" src="assets/images/project-multify2.jpg" alt="">
                </div>
            </a>
        </div>
    </main>
</div>
  <partial src="_footer.html" ></partial>
  <script src="assets/js/main.js"></script>
</body>

</html>
