<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>

  <div class="wrapper">
    <main class="page-body">

        <section class="project-container show-on-scroll">
            <h1 class="project-title show-on-scroll">Awesome Profile Cards</h1>
            <p class="project-subtitle show-on-scroll">
                Front-End development
            </p>
            <partial src="_back.html" ></partial>
        </section>

        <img class="cover-image show-on-scroll" src="assets/images/imgs_awesomeprofilecards/img_awesomeprofilecards_banner_8_good.png" alt="cover-awesomeprofilecards">

        <section class="project-page-section show-on-scroll">
            <div class="text-container-section">
                <p class="text-section-rigth">
                    Technical summary:</br></br>WebApp built in JavaScript to create your own business card. Web layout with HTML5 & CSS3 with customisable themes. Errors in required fields are not filled in. Local storage. Use of Twitter's API.
                    <p class="text-section-rigth"> Usage:</br></br>Customize your own business card by choosing colours, fonts and chosing your best profile picture. Include links to your Linkedin, Github, email. Once is ready, make sure you share it in your Twitter account!</br></br></p>
                <p class="text-section-rigth">Features:</br>
                    </br>- Form fields to create your professional card
                    </br>- Local Storage to save information previously filled in
                    </br>- Three color options
                    </br>- Share directly to Twitter
                </br></br></p>
            </div>

            <img class="project-img-cover show-on-scroll" src="assets/images/imgs_awesomeprofilecards/img_awesomeprofilecards_2_mobile.png" alt="sand-cover">
        </section>

        <section class="proyect__links__container">
            <a class="proyect-link" target="_blank" href="https://github.com/claramiralles/awesome-profile-cards-javascript">Live link</a>
            <a class="proyect-link" target="_blank" href="http://beta.adalab.es/fairfax-NaN-NotaName-/.">Code in Github</a>
        </section>

        <section class="technologies-container show-on-scroll">

            <partial src="_technologies.html" ></partial>

            <div class="logos-technologies-container show-on-scroll">
                <div>
                    <img class="technologies-icon" src="assets/images/javascript.png" alt="JavasScript">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/html5.png" alt="html5">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/css.png" alt="CSS3">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/npm.png" alt="NPM">
                </div>
            </div>
        </section>
    </main>
</div>

<partial src="_footer.html" ></partial>
</body>
<script src="assets/js/main.js"></script>

</html>
