<!DOCTYPE html>
<html>
  <partial src="_head.html" ></partial>

<body>
  <partial src="_header.html" ></partial>

  <div class="wrapper">
    <main class="page-body">

        <section class="project-container show-on-scroll">
            <h1 class="project-title show-on-scroll">Rock & Code</h1>
            <p class="project-subtitle show-on-scroll">
                Front-End development
            </p>
            <partial src="_back.html" ></partial>
        </section>

        <img class="cover-image show-on-scroll" src="assets/images/imgs_rockandcode/img_rockandcode_3_banner.png" alt="cover-sand">

        <section class="project-page-section show-on-scroll">
            <div class="text-container-section">
                <p class="text-section-rigth">
                    Technical summary:</br></br>Website built in HTML & CSS (use of SASS as CSS pre-processor), following responsive design principles. Use of flexbox and grid as web layout systems. Built by a 5-developers-team, following agile principles & scrum methodologies.
                    <p class="text-section-rigth"> Usage:</br></br>Showcasing the first development team created at our front-end training. Describes the team in different scrollable sections, including the team mission, its strengths and weaknesses and a personalized space for each team member. Contact section with form using formspread. </br></p>
                <p class="text-section-rigth">Features:</br>
                    </br>- Responsive website
                    </br>- One scrollable page
                    </br>- Navigation menu
                    </br>- Form to contact with the team
                </br></br></p>
            </div>

            <img class="project-img-cover show-on-scroll" src="assets/images/imgs_rockandcode/img_rockandcode_mobile.png" alt="sand-cover">
        </section>

        <section class="proyect__links__container">
            <a class="proyect-link" target="_blank" href="https://beta.adalab.es/f-m1-rock-code/">Live link</a>
            <a class="proyect-link" target="_blank" href="https://github.com/claramiralles/rock-and-code-team-website-html-css">Code in Github</a>
        </section>


        <section class="technologies-container show-on-scroll">
            <partial src="_technologies.html" ></partial>
            <div class="logos-technologies-container show-on-scroll">
                <div>
                    <img class="technologies-icon" src="assets/images/html5.png" alt="html5">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/css.png" alt="CSS3">
                </div>
                <div>
                    <img class="technologies-icon" src="assets/images/npm.png" alt="NPM">
                </div>
            </div>
        </section>
        
    </main>
</div>

<partial src="_footer.html" ></partial>
</body>
<script src="assets/js/main.js"></script>

</html>
