// Colors
$rockGrey: #54585a;
$greenButterfly: #099d8d;
$greyCloud: #b8b8b9;

$fontFamily: 'Open Sans', sans-serif;
$secondaryFont: 'Rubik', sans-serif;
$fontSize: 16px;
$fontColor: $rockGrey;
$centerColumnTablet: 678px;
$centerColumnDesktop: 1100px;
$pathImages: '../images/';
$lineHeightGeneral: 1.5;

// Measurements
$completeWidth: 100%;

